/* flexy box hell */

/* reading this stylesheet will result in permanent brain damage */

/* printer optimization because book good phone bad */

@media print {
	header, footer {
		display: none !important;
	}
	
	body {
		background: #fff !important;
	}

	main {
		width: 100% !important;
		border-radius: 0px !important;
		box-shadow: none !important;
	}
}

@media screen and (max-width: 920px) {
	header {
		flex-direction: column !important;
	}
	.sidebar {
		padding: 0px !important;
		padding-top: 8px !important;
	}
}

@media screen and (max-width: 800px) {
	header, main, footer {
		width: 80% !important;
		max-width: 100vw !important;	
	}
	iframe {
		width: 100% !important;
	}
}

@media screen and (max-width: 581px) {
	.menu {
		display: flex !important;
	}
	.social {
		display: flex !important;
	}
}

@media screen and (max-width: 373px) {
	.menu {
		gap: 16px !important;
	}
}

/* licensing information for the fonts used can be found in the LICENSE.fonts file */
@font-face {
	font-family: "Cantarell";
	src: local("Cantarell"), url("/fonts/Cantarell-VF.otf") format("opentype");
}

@font-face {
	font-family: "JetBrains Mono";
	src: local("JetBrains Mono"), url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Source Code Pro";
	src: local("Source Code Pro"), url("/fonts/SourceCodePro-Regular.ttf.woff2") format("woff2");
}

body {
	background: #546E7A;
	background: linear-gradient(90deg, #546E7A, #455A64);
	color: #fff;
	height: 100vh;
	height: 100dvh;
	margin: 0px;
}

header, main, footer {
	width: 60%;
	max-width: 800px;
}

.primary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 32px;
	align-items: center;
	height: 100%;
}

a {
	color: #fff;
}

a:hover {
	color: #6495ed;
	text-decoration: underline;
}

a:focus {
	color: #808080;
}

main a {
	color: #000;
}

header {
	display: flex;
	font-size: 28px;
	font-family: 'JetBrains Mono', monospace;
	padding-top: 28px;
	align-items: baseline;

}

.site_title {
	margin-right: auto;
}

footer a, header > a:not(.sidebar), h1 a {
	text-decoration: none;
}

h1 {
	font-weight: 1000;
}

footer a:hover, header > a:hover:not(.sidebar) {
	text-decoration: underline;
	color: #fff;
}

.summary_page_title a:hover {
	text-decoration: none;
}

/* stolen from bootstrap */
.bg-gradient {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.bg-dark {
	background: #212529;
}


nav {
	padding: 13px;
	border-radius: 8px;
	box-shadow: 0px 0px 3px 0px #000;
}

.page_header {
	display: flex;
	align-items: baseline;
}

.additional_options {
	margin-left: auto;
	display: flex;
}

.additional_options a {
	text-decoration: none;
	color: #808080;
}

.additional_options a:hover {
	text-decoration: underline;
}

.rss_logo {
	padding-right: 16px;
	padding-left: 16px;
	display: flex;
	align-items: flex-end;
}

main {
	border-radius: 25px;
	padding: 20px;
	background-color: #fff;
	color: #000;
	box-shadow: 0px 0px 25px 0px #000;
	font-family: 'Cantarell', sans-serif;
}

.page_summary {
	font-style: italic;
}

main img {
	max-width: 80%;
}

main > iframe:not(.comment) {
	max-width: 80%;
}

time {
	font-size: 14px;
}

pre {
	border: 1px solid #d0d7de;
	border-radius: 3px;
	padding: 16px;
	font-family: "Source Code Pro", monospace;
	background-color: #eff1f3;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	border-radius: 3px;
	padding: 1.5px 4px;
	font-family: "Source Code Pro", monospace;
	background-color: #eff1f3;
}

pre code {
	padding: 0px;
	background-color: transparent;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 16px 0px;
	padding: 3px 16px;
}

.article_summary {
	padding-top: 10px;
}

.read_more {
	font-weight: 500;
}

.paginator {
	display: flex;
	font-size: 14px;
	padding-top: 30px;
	justify-content: space-around;
	color: #808080;
}

.paginator a {
	color: #808080;
}

.comment {
	outline: 2px solid #80808025;
	border-radius: 10px;
	padding: 10px;
	margin-top: 60px;
}

.sidebar {
	font-size: 28px;
	display: flex;
	font-family: 'JetBrains Mono', monospace;
	padding: 8px;
}

.menu {
	display: inline-flex;
	gap: 32px;
	flex-wrap: wrap;
}

.menu a {
	text-decoration: none;
}

.social {
	display: inline-flex;
	gap: 10px;
	flex-wrap: wrap;
}

footer {
	margin-top: auto;
	font-family: 'JetBrains Mono', monospace;
	padding-bottom: 20px;
	padding-top: 40px;
	font-size: 12px;
}

footer img {
	padding-bottom: 10px;
}

iframe.itunes {
	width: 80%;
	max-width: 660px;
	overflow: hidden;
	border-radius: 10px;
}

iframe.bandcamp {
	border: 0;
	width: 80%;
	height: 120px;
}

iframe.spotify {
	border-radius: 12px;
}

.center {
	text-align: center;
}
