{{ define "main" }}
<div>
  <h2><span>{{ .Title }}</span></h2>
  {{ .Content }}
  <div class="list-row row">
  {{ range .Pages }}
    <div class="list-item col-md-6 col-xs-12">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      
      {{ if strings.Contains .Page.Params.img "http" }}
      <img src="{{ .Page.Params.img }}">
      {{ else }}
      <img src="{{ .Page.Path }}/{{ .Page.Params.img }}">
      {{ end }}

    {{ .Summary }}
    </div>
  {{ end }}
  </div>
</div>
{{ end }}
