<div class="comment">
    <script src="https://giscus.app/client.js"
        data-repo="{{ .giscus.data_repo }}"
        data-repo-id="{{ .giscus.data_repo_id }}"
        data-category="{{ .giscus.data_category }}"
        data-category-id="{{ .giscus.data_category_id }}"
        data-mapping="{{ .giscus.data_mapping }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="{{ .giscus.data_input_position }}"
        data-theme="{{ .giscus.data_theme }}"
        data-lang="{{ .giscus.data_lang }}"
        crossorigin="anonymous"
        async>
    </script>
    <noscript><p class="center">JavaScript is required to leave comments.</p></noscript>
</div>
